@sider_background: #141414;
@footer_background: #030303;
@default_button_bg: #252525;
@default_button_bg_hover: #2a2a2a;
@default_prograss_bg: #4c4c4c;
@default_color: #e6e6e6;
@default_color_remark: #b5b3b3;
@default_select_bg: #232323;

@theme_color: #52247b;

#borderRadius () {
  border-radius: 10px;
}

// 文字超过一行...隐藏显示
#ellipsisText() {
  text-overflow: ellipsis;
  overflow: hidden;
}

// hover时显示下划线
#textDecoration () {
  &:hover {
    text-decoration: solid;
    text-decoration-line: underline;
  }
}

// hover时显示背景颜色
#boxBackground() {
  &:hover {
    background-color: @default_button_bg_hover;
    #borderRadius ();
  }
}