// 公共样式：开始
html, body {
  height: 100%;
  margin:0;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}
// 公共样式：结束

#globalFlex () {
  flex: 0 0 75px !important;
  max-width: 75px !important;
  min-width: 75px !important;
}

.layout {
  color: #f4efef;
  width: 100%;
  background-color: @footer_background;
  padding: 0 7px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &_content {
    height: calc(100vh - 40px);
    background-color: @footer_background !important;

    &_collapsed {
      // flex: 0 0 75px !important;
      // max-width: 75px !important;
      // min-width: 75px !important;
      #globalFlex();
    }
    
    &_leftSider {
      flex: 0 0 280px !important;
      max-width: 280px !important;
      min-width: 280px !important;
      background-color: @footer_background !important;
  
      &_library{
        width: 100%;
        padding: 0 16px 0 24px;
        margin: 0;
        text-align: left;
        transition: border-color 0.3s,background 0.3s,padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        margin-top: 7px;
  
        &_icon {
          position: relative;
          top: -3px;
          display: inline-block;
        }
  
        &_text {
          margin-left: 10px;
          transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),margin 0.3s,color 0.3s;
        }
      }
    }
  
    @media only screen and (max-width: 992px) {
      &_leftSider {
        #globalFlex();
      }
    }

    &_rightSider{
      margin-right: 0 !important;
      flex: 0 0 300px !important;
      min-width: 300px !important;
      max-width: 300px !important;
      background-color: @sider_background !important;
    }

    @media only screen and (min-width: 1000px) {
      &_rightSider {
        flex: 0 0 350px !important;
        max-width: 350px !important;
        min-width: 350px !important;
      }
    }
  }

  &_footer{
    width: 100%;
    height: 85px;
    padding: 15px 10px;
    background-color: @footer_background !important;
    position: absolute;
    bottom: 0;
  }

  :global{
    .ant-layout-header, .ant-layout-content, .ant-layout-footer {
      color: #fff;
    }

    .ant-layout-sider {
      background-color: transparent;
    }

    .ant-layout-header{
      height: 40px;
      line-height: normal;
      background-color: @footer_background;
    }

    .ant-layout-sider, .ant-layout-content {
      margin-right: 7px;
      box-sizing: border-box;  
    }

    .ant-layout-content{
      background-color: @sider_background;
      border-radius: 10px;
    }

    .ant-layout-sider-trigger {
      position: static !important;
      width: 100% !important;
    }

    .ant-layout-sider-children{
      height: inherit;
    }
    
    .anticon svg {
      font-size: 1.3rem;
    }

  }

}

