.playlist {
  &_isShow {
    display: none !important;
  }

  &_icon {
    margin-left: 10px;
  }

  &_method, &_list {
    margin-top: 20px;
  }

  &_method {
    display: flex;
    justify-content: space-between;

    &_recent {
      position: relative;
      top: -2px;
      margin-right: 6px;
      font-style: inherit;
      font-size: 14px;
    }
  }

}